.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.statusDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: gold;
  opacity: 1;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
}
.statusDot.hidden {
  opacity: 0;
  pointer-events: none;
}
.statusDot.valid {
  opacity: 1;
  background-color: green;
}
.statusDot.invalid {
  background-color: red;
}
.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}
.container {
  width: fit-content;
  position: relative;
  font-family: 'WDXL Lubrifont SC', sans-serif;
}

.card {
  width: 261.883px;
  padding: 15px;
  background: linear-gradient(to bottom, #f5f5f5, #d5d5d5);
  border: 1px solid #999;
  font-family: 'WDXL Lubrifont SC', sans-serif;
}

.card img {
  width: 100px;
  height: 100px;
}

h1,
p {
  margin: 5px 0;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.tab-btn {
  flex: 1;
  background: linear-gradient(to bottom, #f5f5f5, #d5d5d5);
  border: 1px solid #999;
  font-family: 'WDXL Lubrifont SC', sans-serif;
  font-size: 14px;
  text-transform: lowercase;
  cursor: pointer;
  transition: 0.2s;
  padding: 5px 0;
}

.tab-btn:hover {
  background: linear-gradient(to bottom, #ffffff, #cfcfcf);
}

.tab-btn:active {
  background: linear-gradient(to bottom, #d0d0d0, #aaaaaa);
}

.tab {
  margin-top: 10px;
  padding: 15px;
  padding-right: 0px;
  background: linear-gradient(to bottom, #f5f5f5, #d5d5d5);
  border: 1px solid #999;
}

.tab input {
  margin-right: 5px;
  width: 90%;
}

.tab button {
  margin-top: 5px;
}